{extend name="common/header_user"}
{block name="body"}
<div class="personal">
    <div class="centerBox clearBoth">
        <div class="personal_l">
            <div class="personal_l_a">
                <div class="showimg">
                    <img src="{$userInfo.headimg|default='__ROOT__/home/images/yhm.png'}" alt="">
                </div>
                <h3>{$userInfo.nickname}</h3>
            </div>
            {include file="common/left_menu" /}
        </div>
        <div class="personal_r">
            <div class="main_name">
                修改密码
            </div>
            <div class="personal_r_nr">
                <form onsubmit="return false;" id="modifyPasswordForm" method="post" autocomplete="off">
                    <ul>
                        <li>
                            <p>旧密码</p>
                            <div class="per_input">
                                <input type="password" name="old_password" id="old_password" placeholder="请输入旧密码">
                            </div>
                        </li>
                        <li>
                            <p>新密码</p>
                            <div class="per_input">
                                <input type="password" name="password" id="password" placeholder="请输入新密码">
                            </div>
                        </li>
                        <li>
                            <p>确认新密码</p>
                            <div class="per_input">
                                <input type="password" name="c_password" placeholder="请输入确认新密码">
                            </div>
                        </li>
                        <li>
                            <p></p>
                            <div class="per_submit">
                                <input type="hidden" name="id" value="{$userInfo.id}">
                                <input type="submit" id="submitPasswordEdit" name="submitPasswordEdit" value="确定">
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}

{block name='script'}
{/block}
