{include file="common/header1" /}

<!-- 中间区域 -->
<main class="">

	<form onsubmit="return false;" id="logForm">
		<div class="login_form_group">
			<label for="">Email Address:*</label>
			<input name="username" id="login_username" type="text" />
		</div>
		<div class="login_form_group">
			<label for="">Password:*</label>
			<input name="password" id="login_password" type="password" />
		</div>
		<!--<a href="" class="login_forgot">Forgot Your Password?</a>-->
		<div class="flex-center">
			<button type="submit" class="layui-btn" id="submitIn">
				SIGN IN
			</button>
		</div>
	</form>
	<div class="d-flex jc-fe mt40">
		<a href="/Register">CREATE AN ACCOUNT</a>
	</div>

</main>
<!-- 中间区域结束 -->
<script src="__ROOT__/public/home/xin/js/index.js"></script>
<script src="__ROOT__/public/static/common.js"></script>