<style>
    .layui-form.layui-card > .layui-card-body {
        padding: 20px 40px !important;
    }
    .think-radio input[type=radio]{
        display: none !important;
    }
</style>
<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body">
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">上级分类</label>
            <label class="layui-col-xs10">
                <select class="layui-select" required name="parent_id" lay-search>
                    <option value="0">0 - 顶级分类</option>
                    {foreach $parent_cate as $cate}
                        <option {if isset($vo.parent_id) and $vo.parent_id eq $cate.id} selected{/if} value="{$cate.id}">{$cate.title|default=''}</option>
                        {foreach $cate.child_cate_2 as $cate2}
                            {if $cate2 === end($cate.child_cate_2)}
                                <option {if isset($vo.parent_id) and $vo.parent_id eq $cate2.id} selected{/if} value="{$cate2.id}">╚ {$cate2.title|default=''}</option>
                            {else}
                                <option {if isset($vo.parent_id) and $vo.parent_id eq $cate2.id} selected{/if} value="{$cate2.id}">╠ {$cate2.title|default=''}</option>
                            {/if}
                            {foreach $cate2.child_cate_3 as $cate3}
                                {if $cate3 === end($cate2.child_cate_3)}
                                    <option {if isset($vo.parent_id) and $vo.parent_id eq $cate3.id} selected{/if} value="{$cate3.id}"> └─ {$cate3.title|default=''}</option>
                                {else}
                                    <option {if isset($vo.parent_id) and $vo.parent_id eq $cate3.id} selected{/if} value="{$cate3.id}"> ├─ {$cate3.title|default=''}</option>
                                {/if}
                            {/foreach}
                        {/foreach}
                    {/foreach}
                </select>
            </label>
        </div>

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">商品分类图标</label>
            <label class="layui-col-xs8 think-form-group-left">
                <input name="icon" value='{$vo.icon|default=""}' placeholder="请上传分类图标" class="layui-input">
            </label>
            <a class="layui-col-xs2 layui-btn think-form-group-right" data-file="btn" data-field="icon" data-type="png,jpg,gif,ico">
                <i class="layui-icon layui-icon-upload"></i> 上传图标
            </a>
        </div>

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">商品分类图片</label>
            <label class="layui-col-xs8 think-form-group-left">
                <input name="logo" value='{$vo.logo|default=""}' placeholder="请上传分类图片" class="layui-input">
            </label>
            <a class="layui-col-xs2 layui-btn think-form-group-right" data-file="btn" data-field="logo" data-type="png,jpg,gif">
                <i class="layui-icon layui-icon-upload"></i> 上传图片
            </a>
        </div>

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">首页推荐图片</label>
            <label class="layui-col-xs8 think-form-group-left">
                <input name="index_img" value='{$vo.index_img|default=""}' placeholder="请上传首页推荐图片" class="layui-input">
            </label>
            <a class="layui-col-xs2 layui-btn think-form-group-right" data-file="btn" data-field="index_img" data-type="png,jpg,gif">
                <i class="layui-icon layui-icon-upload"></i> 上传图片
            </a>
        </div>

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">移动端分类图标</label>
            <label class="layui-col-xs8 think-form-group-left">
                <input name="wap_icon" value='{$vo.wap_icon|default=""}' placeholder="请上传移动端分类图标" class="layui-input">
            </label>
            <a class="layui-col-xs2 layui-btn think-form-group-right" data-file="btn" data-field="wap_icon" data-type="png,jpg,gif,ico">
                <i class="layui-icon layui-icon-upload"></i> 上传图标
            </a>
        </div>

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">商品分类名称</label>
            <label class="layui-col-xs10">
                <input name="title" required value='{$vo.title|default=""}' placeholder="请输入商品分类名称" class="layui-input">
            </label>
        </div>

        <div class="layui-row margin-bottom-15 layui-hide">
            <label class="layui-col-xs2 think-form-label">分类首字母</label>
            <label class="layui-col-xs10">
                <input name="letter" value='{$vo.letter|default=""}' placeholder="请输入分类首字母" class="layui-input">
            </label>
        </div>

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">热门分类</label>
            <div class="layui-col-xs10">
                <div>
                    <input type="radio" name="is_hot" value="1" title="是" {if isset($vo.is_hot) and $vo.is_hot eq 1}checked{/if}>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="is_hot" value="0" title="否" {if isset($vo.is_hot) and $vo.is_hot eq 0}checked{/if}>
                </div>
            </div>
        </div>

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">商品分类描述</label>
            <label class="layui-col-xs10">
                <textarea class="layui-textarea" name="desc">{$vo.desc|default=''}</textarea>
            </label>
        </div>

    </div>

    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>
<script>window.form.render();</script>

