<style>
    .think-box-shadow table{
        margin: 0;
    }
    .layui-table td, .layui-table th {
        padding: 9px 15px !important;
    }
    .pagination-container{
        padding: 10px 10px;
    }
    .pagination span,.pagination a{
        padding: 5px 10px;
        font-size: 14px;
        border: #ccc solid 1px;

        margin: 0 5px;
    }

    .layui-card-body::-webkit-scrollbar {
        width: 3px!important;
    }
    .layui-card-body::-webkit-scrollbar-thumb {
        border-radius: 10px!important;

        /*background: #AA3130!important;*/
    }
    .layui-card-body::-webkit-scrollbar-track {

        border-radius: 10px!important;
        background: #fbfbfb!important;
    }

    .think-radio input[type=radio]{
        display: none !important;
    }

    .font-red{
        color:#AA3130;
    }
    .back-red{
        background-color:#AA3130;
    }
</style>